<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team name:<%=params[:name]%></h1>
   <h2>Coach:<%=params[:name]%></h2>
   <p>Point Guard:
   <p>Shooting Guard:
   <p>Power Forward:
   <p>Small Forward:
   <p>Center:
 </body>
</html>
